<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">Made in 2016 by Chris Barry</p>
<p class="text-center text-muted"><a href="https://bitbucket.org/ChrisW_B/spotifyplaylists">Bitbucket</a></p>
<p class="text-center text-muted"><a href="https://github.com/ChrisW-B/spotifyPlaylists">Github</a></p>
