{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "standard"
  ],
  "extends": ["eslint:recommended", "standard", "plugin:react/recommended"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    }
  },
  "globals": {
    "ENV": true
  },
  "rules": {
    "strict": 0,
    "semi": [1, "always"]
  }
}