<!-- views/pages/lastfmlogin.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
     <title>Login to Last.fm</title>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>

    </header>

    <main>
        <div class="jumbotron">
            <h1>
                One more step
            </h1>
            <p>
                We need your <a href="http://last.fm/">Last.fm</a> username to keep track what you've listened to
            </p>
            <form name="lastfmlogin" action="/lastfmlogin" method="POST">
                    <input type="text" name="lastFmId" size="25" placeholder="Enter Last.FM username">
                    <input type="hidden" name="token" value="<%= access %>">
                    <input type="hidden" name="refresh" value="<%= refresh %>">
                    <input type="submit" value="Submit">
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
<% include ../partials/css %> 
