<!-- views/pages/setup/recentlyadded.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
     <title>Setup your playlist</title>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>

    </header>

    <main>
        <div class="jumbotron">
            <h1>
                One more step
            </h1>
            
            <form name="recentlyaddedsetup" id="recentlyaddedsetup" action="/setup/recentlyadded" method="POST">
                    <h5>How long should your playlist be*?</h5>

                    <select form="recentlyaddedsetup" name="numTracks">
                        <option value="50">50 Songs</option> 
                        <option value="25" selected>25 Songs</option>
                        <option value="10">10 Songs</option>
                    </select>

                    <br><br>
                    <input type="hidden" name="token" value="<%= access %>">
                    <input type="hidden" name="refresh" value="<%= refresh %>">
                    <input type="submit" value="Submit">
            </form>
            <h6>*Playlists can not include local files, only those on spotify</h6>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
<% include ../partials/css %> 
