<!-- views/pages/goodbye.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Thanks!</title>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <div class="container">
                <h1>Goodbye!</h1>
                <p>Your playlists will no longer be updated!</p>
                <p>Feel free to come back anytime you want</p>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
<% include ../partials/css %> 