<!-- Used to render react -->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Autoplaylists for Spotify</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700" />
    <link rel="stylesheet" type="text/css" href="/styles/opencolor.css" />
  </head>

  <body>
    <div id="root">
      <!-- so this style doesn't get imported into react -->
      <style>
      @import url('/styles/opencolor.css');

      @keyframes rotate {
        to {transform: rotate(360deg)}
      }

      html,
      body {
        margin: 0
      }

      .loading {
        height: 100vh;
        width: 100vw;
        background-color: var(--oc-blue-5);
        display: flex;
        place-content: center;
        place-items: center;
        flex-direction: column;
      }

      .loading-img {
        animation: rotate 3s linear infinite;
        height: 100px;
        width: 100px;
      }

      .loading p {
        font-family: sans-serif;
        color: white;
      }

      </style>
      <div class="loading">
        <img class="loading-img" src='/images/loading.png'>
        <p>Loading...</p>
      </div>
    </div>
    <script type="text/javascript" src="/build/app.bundle.js"></script>
    <script type="text/javascript" src="/build/runtime.bundle.js"></script>
    <script type="text/javascript" src="/build/vendors.bundle.js"></script>
  </body>

</html>
