<!-- Used to render react -->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Chris Barry | Software Engineer and more</title>
  </head>

  <body>
    <div id="root">This pages uses React, which requires JavaScript to be enabled</div>
    <script type="text/javascript" src="/build/app.js"></script>
  </body>

</html>
